.conteudo {
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

.main-content {
    display: flex;
    gap: 1rem;
}
.conteudo .side-content{
    display: flex;
    flex-direction: column;
    gap: .2rem;
    /* justify-content: space-between; */
}

li {
   list-style: none; 
}