<div class="container">

    <div class="logo">
        <ul>
            <li> 
                <a href="https://www.linkedin.com/in/vinicius-crispim/" target="_blank">
                    <img class="icone" src="../../../assets/linkedin-in.svg" alt="Linkedin Icon">
                </a>
            </li>
            <li>
                <a href="https://github.com/ViniciusCrispim">
                    <img class="icone" src="../../../assets/github.svg" alt="GitHub Icon">
                </a>
            </li>
        </ul>
    </div>

    <div class="pesquisa">
        <input class="input" placeholder="search..." type="text">
        <button class="buscar" type="submit">Search</button>
    </div>

    <div class="menu-lateral">
        <button class="button subscribe">Subscribe</button>
        <button class="button join">Join</button>
    </div>

</div>