<div class="container">

    <div class="logo">
        <ul>
            <li><a href="https://www.linkedin.com/in/vinicius-crispim/">Linkedin</a></li>
            <li><a href="https://github.com/ViniciusCrispim">GitHub</a></li>
        </ul>
    </div>

    <div class="pesquisa">
        <input class="input" type="text">
        <button class="buscar" type="submit">search</button>
    </div>

    <div class="menu-lateral">
        <button class="button subscribe">Subscribe</button>
        <button class="button join">Join</button>
    </div>

</div>