.container {
  margin-top: 5px;
  display: flex;
  height: 198px;
  width: 770px;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  border-radius: 1rem;
  box-shadow: 0px 0px 14px 6px rgba(199, 225, 255, 1);
}

.imagem {
  display: flex;
  align-items: center;
}

.imagem img {
  width: 298px;
  border-radius: 1rem 0 0 1rem;
}

.conteudo .titulo {
  margin-top: 10px;
  margin-left: 10px;
}

.conteudo-noticia {
  margin: 10px;
}
.conteudo-noticia p {
  padding: 5px;
  color: rgb(85, 102, 102);
  overflow: hidden;
}

.botao {
  display: flex;
  justify-content: end;
  margin-right: 10px;
}

.botao button {
  color: white;
  height: 35px;
  width: 90px;
  border: none;
  border-radius: 1rem;

  background: rgb(32, 50, 88);
  background: linear-gradient(
    90deg,
    rgba(32, 50, 88, 1) 0%,
    rgba(71, 128, 147, 1) 72%
  );
}
