.container {
  border: 1px solid red;
  display: flex;
  height: 290px;
  width: 750px;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  border-radius: 1rem;
}

.imagem img {
  padding: 10px;
  width: 380px;
  border-radius: 1.2rem 0 0 1.2rem;
}

.conteudo-noticia {
    border: 1px solid red;
    margin: 10px;
}
.conteudo-noticia p {
    padding: 5px;
  color: rgb(85, 102, 102);
  overflow: hidden;
}

.botao {
    border: 1px solid red;
    display: flex;
    justify-content: end;
    margin-right: 10px;
}

.botao button {
  color: white;
  height: 35px;
  width: 90px;
  border: none;
  border-radius: 1rem;
  background: #1d1d7e;

  background: linear-gradient(90deg, #1d1d7e 0%, #667dff 80%);
  background: -webkit-linear-gradient(90deg, #1d1d7e 0%, #667dff 80%);
  background: -moz-linear-gradient(90deg, #1d1d7e 0%, #667dff 80%);
}
