<div class="container">
    <div class="imagem">
        <img src="https://s2-g1.glbimg.com/dLl2P7yBYMBFiuDzlbhNOX_z8DM=/0x0:3640x2376/984x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2019/9/b/7xAkyiQSKABKVOOWFp0w/2019-10-02t162142z-1-lynxmpef911b0-rtroptp-4-tech-google-acao.jpg" alt="">
    </div>
    <div class="conteudo">
        <div class="titulo">
            <h2>These are the latest news about google</h2>
        </div>
        <div class="conteudo-noticia">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur id risus eu sapien vestibulum suscipit. Ut convallis, enim vel dignissim ornare, quam purus pretium sapien, ut luctus lorem nisi in risus...  
            </p>
        </div>
        <div class="botao">
            <button>Read more</button>
        </div>
    </div>
</div>