<div class="container">
    <div class="imagem">
        <img src="https://cdn.dribbble.com/users/4643902/screenshots/19551416/media/184983cebd6c92eea935a3ad7d0aa9fe.jpg?compress=1&resize=1000x750&vertical=top" alt="">
    </div>
    <div class="titulo">
        <h1>This is about to get crazzzzzy</h1>
    </div>
    <div class="conteudo">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In auctor eros sed sagittis scelerisque. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec nec leo vitae urna tincidunt sollicitudin.</p>
    </div>
    <div class="botao">
        <button>Read more</button>
    </div>
</div>