.container {
    background-color: aliceblue;
    border: 1px solid red;
    padding: 10px;
    height: 590px;
    width: 750px;
    border: 3px solid rgb(194, 223, 249);
    border-radius: 1rem;
}

.imagem {
    border: 1px solid red;
    justify-content: center;
    align-items: center;
}

.imagem img {
  margin: 0 auto;
  height: 200px;
  width: 300px;
}

.titulo {
  border: 1px solid red;
  margin: 10px 0;
}

.conteudo {
  border: 1px solid red;
  padding: 5px;
  color: rgb(85, 102, 102);
}

.botao {
  display: flex;
  margin-top: 10px;
  border: 1px solid red;
  justify-content: end;
}

.botao button {
  height: 35px;
  width: 90px;
  background-color: rgb(102, 125, 255);
  color: aliceblue;
  border: none;
  border-radius: 1rem;
}